.loginForm {
    position: relative;
    border: 1px solid #000;
    width: 700px;
    padding: 50px 60px 50px;
    margin: 150px auto;
    display: flex;
    flex-direction: column;

    h3 {
        font-weight: normal;
        font-size: 24px;
        margin-bottom: 50px;
    }
}

.loginLogo {
    background-color: #000;
    position: absolute;
    width: 150px;
    height: 150px;
    top: -100px;
    left: calc((100% - 150px) / 2);
    padding: 25px 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #6C7483;
    margin-bottom: 20px;

    input {
        border-radius: 8px;
        outline: none;
        border: 1px solid #8D939C;
        height: 40px;
        padding-left: 10px;
        font-size: 14px;
    }
}

.submitButton {
    color: #fff;
    outline: none;
    background-color: #000;
    border-radius: 8px;
    width: 200px;
    height: 35px;
    cursor: pointer;
}

.rememberGroup {
    margin: 10px 0 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;

    input {
        width: 16px;
        height: 16px;
        accent-color: #000;
    }
}

.createAccountLink {
    margin: 12px auto 0;
    width: fit-content;
    font-size: 12px;
    a {
        text-decoration: underline;
    }
}